/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(var(--purple), #354257da) !important;
}

button{
  outline: none !important;
}
